body {
    margin: 0;
}

#container {
    position: absolute;

    width: 640px;
    height: 640px;
    resize: both;
    overflow: auto;

    background-color: gray;
    border: 1px solid #000; /* Add this */
}

canvas {
    position: absolute;
}

.block {
    position: absolute;

    transform: translate(0, 0);

}   .block:nth-child(1) {
    transform: translate(0, 0);
}   .block:nth-child(2) {
    transform: translate(50px, 50px);
}   .block:nth-child(3) {
    transform: translate(100px, 0);
}   .block:nth-child(4) {
    transform: translate(100px, 50px);
}   .block:nth-child(5) {
    transform: translate(150px, 0);
}   .block:nth-child(6) {
    transform: translate(150px, 50px);
}   .block:nth-child(7) {
    transform: translate(200px, 0);
}   .block:nth-child(8) {
    transform: translate(200px, 50px);
}   .block:nth-child(9) {
    transform: translate(250px, 0);
}   .block:nth-child(10) {
    transform: translate(250px, 50px);
}